<%= form_for(@gist) do |f| %>
<%
  all_lexers = Pygments.lexers.flatten.select.with_index(offset = 0) { |x,i| i % 2 == 0 }.sort 
  all_lexers = all_lexers.map { |x| x.downcase }
%>

  <% if @gist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% @gist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :snippet %><br>
    <%= f.text_area :snippet, :size => "45x25", placeholder: 'Enter your code here...'  %>
  </div>
  <div class="field">
    <%= f.label :lang %><br>
    <%= f.select :lang, all_lexers %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, size: 45 %>
  </div>
  <div class="action2">
    <%= f.submit 'Submit', :class => 'btnSubmit' %>
  </div> 
<% end %>
