<div class="page_header">
  <h1>My gists</h1>
</div><br>

<div class="without_header">
  <%= link_to 'Home', gists_path ,  :class => 'action2'  %>
   <%= link_to 'New', new_gist_path,  :class => 'action2'  %>
   <%= link_to 'Search', gists_search_path,  :class => 'action2'  %>
   <br>

  <h1 id="title">Editing gist</h1>

<%= render 'form' %>

<%= link_to 'Back', gists_path,  :class => 'action2'  %>

</div>