<div class="page_header">
  <h1>My gists</h1>
</div><br>

<div class="without_header">
  <div class="link2">
    <%= link_to 'Home', gists_path %>
  </div>
  <div class="link2">
    <%= link_to 'New Gist', new_gist_path %>
  </div>
  <div class="link2">
    <%= link_to 'Search', gists_search_path %>
  </div><br><br>

  <h1>New gist</h1>

  <%= render 'form' %>
  
  <div class="link2">
    <%= link_to 'Back', gists_path %>
  </div>
</div>
