<div class="page_header">
  <h1>My gists</h1>
</div><br>

<div class="without_header">
  <%= link_to 'Home', gists_path ,  :class => 'action2'  %>
   <%= link_to 'New', new_gist_path,  :class => 'action2'  %>
   <%= link_to 'Search', gists_search_path,  :class => 'action2'  %><br><br>
  <form role="search">
    <div id="search">
      <%= submit_tag "Search", :snippet => nil  %>
    </div>
    <div id="search">
      <%= text_field_tag :search, params[:search] %>
    </div>  
  </form><br><br> <br>

<div id="my-gists"> 
    <%= render @gists %>
</div>

</div>
