<div class="page_header">
  <h1>My gists</h1>
</div><br>

<div class="without_header">
  <%= link_to 'Home', gists_path ,  :class => 'action2'  %>
   <%= link_to 'New', new_gist_path,  :class => 'action2'  %>
   <%= link_to 'Search', gists_search_path,  :class => 'action2'  %>
   <br><br>

<p id="notice"><%= notice %></p>
<strong>Snippet:</strong>
<%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>
<strong>Lang:</strong>
<%= @gist.lang %>

<p>
  <strong>Description:</strong>
  <%= @gist.description %>
</p>

<%= link_to 'Edit', edit_gist_path(@gist),  :class => 'action2'  %>
<%= link_to 'Back', gists_path,  :class => 'action2'  %>

</div>
</div>